/* VARIABLES */
:root {
  --bg-dark: rgb(50, 50, 50);
  --bg-light: rgb(245, 245, 245);

  --pink: rgb(252, 40, 252);
  --blue: rgb(45, 255, 254);
  --yellow: rgb(255, 253, 56);
}

/* ==========================================================================  */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

/* HOME */
/* VARIABLES */
:root {
  --bg-dark: rgb(50, 50, 50);
  --bg-light: rgb(245, 245, 245);

  --pink: rgb(252, 40, 252);
  --blue: rgb(45, 255, 254);
  --yellow: rgb(255, 253, 56);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-dark);
}

/* ===================== */
/* Home */
/* ===================== */

.HomeTitleContainer {
  height: 100vh;
}

.MainTitle {
  font-family: "Lexend Deca", sans-serif;
  font-size: 90px;
  text-shadow: 0px 0px white;
  color: var(--bg-light);
  position: relative;
  animation: noise 6s ease 0s infinite alternate;
  margin-bottom: 4rem;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.MainTitle::after {
  content: "v.202301";
  font-size: 12px;
  text-shadow: 0px 0px white;
  position: absolute;
  bottom: -5px;
  right: 5px;
}

@keyframes noise {
  0% {
    text-shadow: 1px 0px var(--pink);
    transform: scale(1);
  }
  33% {
    text-shadow: 0px -1px var(--blue);
  }
  66% {
    text-shadow: -1px 0px var(--yellow);
  }
  100% {
    text-shadow: 0px 0px var(--bg-light);
    transform: scale(0.9);
  }
}

#ArrowAnim {
  animation: arrowanim 6s ease 0s infinite alternate;
}

@keyframes arrowanim {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

.DownArrow {
  display: "block";
}

.DownArrowInner {
  height: "10vh";
}

.MainContainer {
  margin-top: -15vh;
  height: 95vh;
}

.MainContainerCardsSpace {
  padding: 4em;
  padding-top: 6em;
}

.MainCard {
  background-color: var(--bg-light);
  border-radius: 1em;
  height: 200px;
}

.CardTitle {
  font-size: 42px;
  color: rgb(102, 102, 102);
  font-family: "Inconsolata", sans-serif;
  text-decoration: none;
  margin-bottom: 0px;
}

.CardTitle:hover {
  color: black;
}

.CardBody {
  width: 100%;
  height: 100%;
}

.Content {
  min-height: 70vh;
}

#CardName,
#CardNameContact {
  font-family: "Inconsolata", sans-serif;
  color: var(--bg-light);
  font-size: 88px;
  position: absolute;
  left: -12%;
  top: 220px;
}

#AnimojiCard,
#ContactCard {
  background-color: var(--bg-light);
  border-radius: 1em;
  min-height: 30vh;
  width: 40%;
  padding: 3em;
}

#IntroPic {
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#Intro {
  font-family: "Inconsolata", sans-serif;
  color: var(--bg-dark);
  text-align: center;
  font-size: 42px;
}

.ContactItem {
  font-family: "Inconsolata", sans-serif;
  font-size: 34px;
  color: var(--bg-dark);
  margin: 1em 0;
}

#Location {
  font-size: 18px;
}

.ProjectName {
  font-family: "Inconsolata", sans-serif;
  color: var(--bg-light);
  text-align: left;
  font-size: 36px;
}

.ProjectNameRole {
  font-family: "Inconsolata", sans-serif;
  color: var(--bg-light);
  text-align: left;
  font-size: 22px;
}

.ProjectText {
  font-size: 22px;
  text-align: left;
  line-height: 2em;
  white-space: pre-line;
  text-align: justify;
  text-justify: inter-word;
}

/* ==========================================================================  */

a:hover {
  text-decoration: underline solid white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  text-decoration: underline solid white;
}

.ContextContainer {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-dark);
  color: white;
  font-family: "Inconsolata", sans-serif;
}

.MenuBarSmall {
  height: 100vh;
  width: 100%;
}

.MenuItemSmall {
  color: white;
  font-size: 46px;
  text-decoration: none;
}

.MenuBar {
  padding-top: 1em;
}

.MenuItem {
  color: white;
  font-size: 26px;
  margin-right: 3em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--bg-light);
}

.ItemSelected {
  text-decoration: underline solid white;
}

p {
  counter-reset: var(--bg-dark);
}

.BaseCard {
  background-color: var(--bg-light);
  min-height: 50vh;
  width: 65%;
  border-radius: 1em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.BaseCardExp {
  background-color: var(--bg-light);
  min-height: 25vh;
  width: 65%;
  border-radius: 1em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#MAC {
  right: -20em;
}

.PERIS {
  right: -10em;
}

.PERIS2 {
  right: -10em;
  width: 150px;
}

video {
  border-radius: 1em;
}

@media only screen and (max-width: 960px) {
  /* For mobile phones: */

  #HomeMobileBottomMargin {
    height: 90vh;
  }

  .MenuItem {
    color: white;
    font-size: 18px;
    margin-right: 1em;
  }

  .MainTitle {
    font-size: 45px;
  }

  /* ABOUT */

  #Intro {
    font-size: 26px;
  }
  #CardName,
  #CardNameContact {
    font-size: 58px;
  }
  .BaseCard,
  .BaseCardColor {
    min-height: 40vh;
  }

  #AnimojiCard,
  #ContactCard {
    width: 65%;
  }
  .ContactItem {
    font-size: 18px;
  }

  /* HOBBIES */
  .FloatingImg,
  #MAC {
    right: -5em;
  }

  .ExtraLg {
    width: 220px;
    right: -5em;
  }

  .HobbieCard {
    height: 50vh;
  }

  /* EXPERIENCE */

  .PERIS2 {
    display: none;
  }
}

footer {
  margin-top: 25vh;
  background: rgba(55, 55, 55, 1);
  color: white;
  font-family: "Inconsolata", sans-serif;
}

.FooterMenuItem {
  color: var(--bg-light);
  text-decoration: none;
}

@media only screen and (min-width: 960px) and (max-width: 1300px) {
  /* For tablets: */

  #HomeMobileBottomMargin {
    height: 70vh;
  }

  .ContactItem {
    font-size: 24px;
  }

  /* EXPERIENCE */

  .PERIS2 {
    display: none;
  }
  #MAC {
    width: 450px;
  }

  /* HOBBIES */
  .FloatingImg,
  #MAC {
    right: -13em;
    width: 500px;
  }

  .ExtraLg {
    width: 300px;
    right: -26em;
  }

  .HobbieCard {
    height: 50vh;
  }
}
