@use "app/_styles/colors.scss";
@use "app/_styles/mixins.scss";
@use "app/_styles/utilities.scss";

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors.$bg-dark;
}

body {
  padding: 0px !important;
  margin: 0px !important;
  height: 100vh;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

a {
  &:hover {
    text-decoration: underline;
    text-decoration-color: colors.$white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

video {
  border-radius: 1em;
}

footer {
  margin-top: 25vh;
  background: colors.$bg-footer;
  color: colors.$white;
  font-family: "Inconsolata", sans-serif;
}

.ContextContainer {
  width: 100%;
  min-height: 100vh;
  background-color: colors.$bg-dark;
  color: colors.$white;
  font-family: "Inconsolata", sans-serif;

  .Content {
    min-height: 70vh;

    &-Experience {
      min-height: 45vh;
    }

    .BaseCard {
      background-color: colors.$bg-dark;
      min-height: 50vh;
      width: 65%;
      border-radius: 1em;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      &-Experience {
        min-height: 30vh;
      }

      .CardName {
        font-family: "Inconsolata", sans-serif;
        color: colors.$bg-light;
        font-size: 88px;
        position: absolute;
        left: -12%;
        top: 150px;

        &-Number {
          left: -4%;
          top: 250px;

          &-Experience {
            top: 80px;
          }
        }
      }

      .FloatingImg {
        height: 400px;
        width: 400px;
        object-fit: contain;
        right: -70%;
      }
    }
  }

  .CardInformation {
    background-color: colors.$bg-light;
    border-radius: 1em;
    min-height: 30vh;
    width: 40%;
    padding: 3em;

    .ContactItem {
      font-family: "Inconsolata", sans-serif;
      font-size: 28px;
      color: colors.$bg-dark;
      margin: 1em 0;
    }
  }

  #AboutProfileIamge {
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #AboutProfileDescription {
    font-family: "Inconsolata", sans-serif;
    color: var(--bg-dark);
    text-align: center;
    font-size: 28px;
  }

  .SectionTitle {
    font-family: "Inconsolata", sans-serif;
    color: colors.$bg-light;
    text-align: left;
    font-size: 36px;
    margin-bottom: 1rem;
  }

  .SectionText {
    font-size: 22px;
    text-align: left;
    white-space: pre-line;
    text-align: justify;
    text-justify: inter-word;

    &-LongText {
      text-align: left;
    }

    &-Btn {
      color: colors.$bg-light;
      border-radius: 11px;
      text-transform: lowercase;
      margin-top: 2rem;
    }
  }

  a.SectionText {
    color: colors.$bg-light;
  }
}

.ItemSelected {
  text-decoration: underline solid white;
}

.FooterMenuItem {
  color: var(--bg-light);
  text-decoration: none;
}

@media only screen and (max-width: 960px) {
  /* For mobile phones: */

  #HomeMobileBottomMargin {
    height: 90vh;
  }

  .MenuItem {
    color: white;
    font-size: 18px;
    margin-right: 1em;
  }

  .MainTitle {
    font-size: 45px;
  }

  /* ABOUT */

  #Intro {
    font-size: 26px;
  }
  #CardName,
  #CardNameContact {
    font-size: 58px;
  }
  .BaseCard,
  .BaseCardColor {
    min-height: 40vh;
  }

  #AnimojiCard,
  #ContactCard {
    width: 65%;
  }
  .ContactItem {
    font-size: 18px;
  }

  /* HOBBIES */
  .FloatingImg,
  #MAC {
    right: -5em;
  }

  .ExtraLg {
    width: 220px;
    right: -5em;
  }

  .HobbieCard {
    height: 50vh;
  }

  /* EXPERIENCE */

  .PERIS2 {
    display: none;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1300px) {
  /* For tablets: */

  #HomeMobileBottomMargin {
    height: 70vh;
  }

  .ContactItem {
    font-size: 24px;
  }

  /* EXPERIENCE */

  .PERIS2 {
    display: none;
  }
  #MAC {
    width: 450px;
  }

  /* HOBBIES */
  .FloatingImg,
  #MAC {
    right: -13em;
    width: 500px;
  }

  .ExtraLg {
    width: 300px;
    right: -26em;
  }

  .HobbieCard {
    height: 50vh;
  }
}
